@section scripts
{        
    <script src="~/Scripts/jquery.signalR-1.0.1.min.js" type="text/javascript"></script>            
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/kanban")
}
<div id="main">
    <div>
        <input type="text" data-bind="value:boardName"/>
        <button data-bind="click:joinBoard">Join Board</button>
    </div>
    <div id="lanes" data-bind="foreach:lanes">
        <div class="lane" data-bind="foreach:cards,event:{dragover:cardDraggedOver,drop:$root.dropCardOnLane}">
            <div class='card' draggable="true" data-bind="click:edit, event: { dragstart:$root.dragCard }">
                <span data-bind="text:content, visible:!isEditing()"></span>
                <textarea data-bind="visible:isEditing, value:content, hasfocus:isEditing"></textarea>
            </div>
        </div>
    </div>
    <div id="buttons">
        <button id="createCard" data-bind="click:createCard">Create Card</button>
    </div>
</div>