body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Kanban Board */
.lane
{
    border: 1px solid black;
    min-height: 500px;
    width: 200px;
    margin: 10px;
    float: left;
}

#main
{
    width: 920px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 10px 10px 5px #000;
}

body
{
    background-color: gray;
}

#buttons
{
    clear: both;
    margin: 0 0 10px 10px;
}

.card
{
    width: 180px;
    min-height: 180px;
    margin: 8px 8px;
    border: 1px solid black;
    background-color: azure;
}


